## Kata 8 - Módulo 8

Ejercicio 1

In [2]:
# Creamos un diccionario para almacenar datos sobre un planeta
planet = {
    'name': 'Marte',
    'moons': 2
}

In [6]:
# Mostramos el nombre y número de lunas
print('El nombre del planeta es: ',planet['name'],' y tiene', planet['moons'],' lunas')

El nombre del planeta es:  Marte  y tiene 2  lunas

In [7]:
# Agregamos datos con un nuevo diccionario anidado al diccionario planet
planet['circunferencia (km)'] = {
    'polar': 6752,
    'Equatorial': 6792
}

In [9]:
# Mostramos el nombre del planeta con su circunferencia polar
print(planet['name'], ' tiene una circunferencia polar de: ', planet['circunferencia (km)']['polar'])

Marte  tiene una circunferencia polar de:  6752

Ejercicio 2

In [10]:
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [22]:
moons = 0
for value in planet_moons.values():
    moons = moons + value

print(f'Hay un total de {moons} lunas en todos los planetas del diccionario.')
total_moons = moons

planets = len(planet_moons)
print(f'Existe un total de {planets} planetas en el diccionario.')

print(f'En promedio existen {total_moons/planets} lunas por planeta.')

Hay un total de 214 lunas en todos los planetas del diccionario.
Existe un total de 12 planetas en el diccionario.
En promedio existen 17.833333333333332 lunas por planeta.